.conj-box {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 3vw;
    padding-right: 3vw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.3vw;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
    background-color: rgb(61, 5, 164);
    color:#e7dab9;

    border: 1px solid rgb(245, 245, 245);
    border-radius: 15px;
}

/* animation-layout */
.animation-box {
    width: 47%;
    height: auto;
    padding: 0;
    margin-right: 2%;
    display: flex;
    align-items: start;
    justify-content: center;
    /* border: 2px solid orange; */
}

.animation-canvas {
    border: 1px solid rgb(245, 245, 245);
    border-radius: 15px;
    aspect-ratio: 4 / 3;
}

/* live-video-layout */
.live-video-box {
    width: 47%;
    padding: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    /* border: 2px solid orange; */
}
.video-container {
    width: 100%;
}
.video-canvas {
    width: 100%;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 15px;
} 

/* prompt-box */
.prompt-box {
    width: 48%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-right: 1.2vw;
}
.prompt-canvas {
    width: 100%;
    aspect-ratio: 4 / 3;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 15px;
    background-color:rgb(109, 141, 141);
}
.prompt-message {
    color:rgb(255, 255, 255);
    margin: 25px;
    font-size: 2vw;
    font-weight: bold;
}
