/* SessionSetup */
#setup-main-box {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    padding-top: 15vh;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: white;
    border: 1px solid transparent; /* Do not remove! */
    /* border: 5px solid blue; */
}

#setup-form-box {
    width: 450px;
    /* border: 2px solid red; */
}

.page-main-box {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: rgb(35, 35, 35);
    border: 1px solid transparent; 
    /* border: 3px solid red; */
}

.head-box {
    width: 100%;
    height:25%;
    margin: 0;
    padding-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1%;
    /* border: 2px solid blue; */
}

.mid-box {
    width: 100%;
    height: 59%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    /* border: 2px solid blue; */
}

/* Session Start */
#start-info-text {
    margin-top: 10vh;
    margin-bottom: 17vh;

    color: #eeeeee;
    font-size: 4.5vw;
    font-family: 'Quantico', sans-serif;
}
#start-button {
    width: 250px;
    height: 250px;
    font-size: 55px;
    font-weight: 900;
    font-family: 'Quantico', sans-serif;
    transition: all 0.07s ease;
}
#start-button:hover {
    font-size: 60px;
}

/* .hand-gesture-box {
    padding-left: 1%;
}

.hand-gesture-text {
    font-size: 1.5vw;
    color:indianred;
} */


.session-main-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(33, 33, 33);
    /* background-color: white; */
    border: 1px solid transparent;
}


.start-box {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color:rgb(33, 33, 33);
    border: 1px solid transparent; /* important: do not remove */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 100px;
}

.h2 {
    color:white;
}

.top-prompt-box {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto Slab', serif;
    font-size: 3.2vw;
    font-weight: 800;
    text-align: center;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;

    background-color: rgb(98, 132, 133);
    background-color: rgb(53, 108, 110);
    background-color: rgb(70, 120, 122);
    color:#e7dab9;
    border: 1px solid rgb(245, 245, 245);
    border: 1px solid rgb(135, 165, 165);
    border-radius: 15px;
}

.mid-conj-box {
    width: 100%;
    height: 98%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* font-family: 'Oxygen', sans-serif;
    font-family: 'Mukta Malar', sans-serif;
    font-family: 'Mukta', sans-serif; */
    font-family: 'Roboto', sans-serif;

    font-size: 4.5vw;
    font-weight: 900;
    text-align: center;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;

    background-color: rgb(61, 5, 164);
    background-color: rgb(65, 47, 138);
    color:#e7dab9;
    border: 1px solid rgb(245, 245, 245);
    border: 1px solid rgb(123, 108, 133);
    border-radius: 15px;
    line-height: 1.5;
    /* border: 1px solid red; */
}


#go-next-box {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(80px);
    background: rgba(255, 255, 255, 0.3);
    
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 12;
}
#go-next-text {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 4vw;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#progress-bar-box {
    width: 40%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid red; */
}

#exit-message {
    color: #eeeeee;
    font-family: 'Mukta', sans-serif;
    font-family: 'Quantico', sans-serif;
    font-size: 4.5vw;
    
    margin-top: 15vh;
    margin-bottom: 20vh;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    line-height: 1.2;
}
#exit-button {
    width: 450px;
    height: 75px;
    font-size: 36px;
    font-weight: bolder;
    font-family: 'Quantico', sans-serif;
    transition: all 0.1s ease;
}


.foot-box {
    width: 97%;
    height: 14%;
    margin-top: 0.25%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 2.2vw;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    font-family: 'Quantico', sans-serif;
    
    color:rgb(226, 208, 165);
    color:rgb(175, 124, 87);

    background-color: #323030;
    border-radius: 15px;
    /* border: 1px solid rgb(0, 42, 255); */

    position: absolute;
    top: 84%;
    left: 0;
    z-index: 1;
}
.proceed-box {
    height: 100%;
    width: 50%;
    padding-right: 4vw;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* border: 1px solid red; */
}
.audio-box {
    display: flex;
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
}
#audio-canvas {
    width: 100%;
    height:100%;
}




